
<div style="text-align: center; margin-top: 12%;">
    @if(isLoading$ | async)
    {   
        <div class="loader-background">
            <div class="loader-content">
                <img  style="width:100%; height:auto" src="https://i.pinimg.com/originals/a0/02/a3/a002a3e51a2adc85d6c0a4684892e743.gif" />
            </div>
        </div>
    }
    @else
    {
        <p class="counter">{{ count$ | async}}</p>
    }

    <button class="dec" (click)="handleDecrement()">Decrement</button>
    <button class="reset" (click)="handleReset()">Reset</button>
    <button class="inc" (click)="handleIncrement()">Increment</button>
    <br>
    <button class="asyncBtn" (click)="triggerAsyncLoad()">Trigger Async Load</button>
    
</div>