.counter
{
   font-size: 50px;  
}

button {
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;  
  cursor: pointer;  
  opacity: 0.9;
  margin: 10px 10px 10px 10px;
}

button:hover
{
  opacity: 1;
}

.inc
{
    background-color: #008CBA;
}

.dec
{
    background-color: #f44336;
}

.asyncBtn{
  background-color: green;
}

.reset
{
    color: black;
    background-color: lightgray;
}

.loader-background{
  position: fixed;
  top: 10%;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 11111;
  opacity: 0.9;
}

.loader-content{
  width:200px;
  height:200px;  
  margin: auto; 
  margin-top: 1%;
}