.resultDiv{
  height: 90px;
}
.counter {
  font-size: 70px;
}
.Error {
  font-size: 35px;
  color: #f44336;
}
button {
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.9;
  margin: 10px;
  border-radius: 5px; /* Added for better UI */
  transition: opacity 0.3s ease; /* Smooth hover effect */
}
button:hover {
  opacity: 1;
}
.inc {
  background-color: #008cba;
}
.dec {
  background-color: #f44336;
}
.asyncBtn {
  background-color: green;
}
.reset {
  color: black;
  background-color: lightgray;
}
.loader-background {
  /* position: fixed; */
  top: 0; /* Cover from very top */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* semi-transparent overlay */
  z-index: 11111;
  display: flex;
  justify-content: center;
  align-items: center; /* Center loader vertically */
}

.loader-content {
  width: 131px;
  height: 131px;
}

.buttonsDiv {
  margin-top: 20px;
}
